AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
VOL_CONVERSION_JOB_QUEUE=vol-conversion-queue
VOL_CONVERSION_JOB_DEFINITION=vol-conversion-job

SUPABASE_URL=
SUPABASE_KEY=
BUCKET_NAME=projectanu

REQUEST_BODY_LIMIT=100mb
MAX_VOLUME_UPLOAD_SIZE_MB=100
